<!DOCTYPE html>
<html>
  <head>
    <title>게시글보기</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/read.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery.mousewheel.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <header id="header">
      <h1 id="portfolio">
        <a href="http://dlwngud26.dothome.co.kr/#mainbanner"><span class="pf">Portfolio</span></a>
        <span class="mbj">Made by JooHyung</span>
      </h1>
      <nav id="gnbWrap">
        <h1 class="hidden">홈페이지메뉴</h1>
        <ul id="gnb">
          <li><a href="http://dlwngud26.dothome.co.kr/#usingskill">Skill</a></li>
          <li><a href="http://dlwngud26.dothome.co.kr/#introduce">About me</a></li>
          <li><a href="http://dlwngud26.dothome.co.kr/#project">Project</a></li>
          <li><a href="http://jhportfolio7272board.herokuapp.com/board/page">Board</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div id="readWrap">
          <h1>자유게시판</h1>
          <table>
            <input type="hidden" name="idx" value="<%=row.idx%>"/>
            <tr class="titleWrap">
              <td>
                <span class="title"><span class="smallfont">title :</span> <%=row.title%></span>
                <span class="author"><span class="smallfont">author :</span> <%=row.name%></span>
              </td>
            </tr>
            <tr class="contentWrap">
              <td class="content"><%=row.content%></td>
            </tr>
            <tr class="regdateWrap">
              <td>등록날짜 : <%=row.regdate%></td>
            </tr>
            <tr class="modidateWrap">
              <td>수정날짜 : <%=row.modidate%></td>
            </tr>
          </table>
          <div class="btn">
            <a href="/board/page" class="back">돌아가기</a>
          </div>
        </div>
        </div>
      </section>
    </main>
    <footer id="footer">
      <h1 class="hidden">푸터</h1>
      <div class="copyright">
        <p>&copy;2020, JOOHYUNG ALL RIGHTS RESERVED
           <br>Design, Programming : LeeJooHyung
        </p>
        <small>e-mail : dlwngud26@naver.com | phone : 010-5646-7272</small>
      </div>
      <div class="urllink">
        <ul>
          <li class="facebook"><a href="https://www.facebook.com/ljh7272" target="_blank">페이스북</a></li>
          <li class="naver"><a href="https://blog.naver.com/dlwngud26" target="_blank">네이버블로그</a></li>
          <li class="instagram"><a href="https://www.instagram.com/jh_hamm" target="_blank">인스타그램</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
